<header id="sticky-header" class="z-10 fixed transition-top bg-main-600 dark:bg-lighter-main-950 w-full text-white">
  <div class="flex flex-wrap justify-stretch items-center mx-auto max-w-screen-2xl">
    <div class="flex m-1 mr-auto lg:mr-0">
      <a class="flex items-center" href="/">
        <img class="mr-3 h-9" src="/imgs/logo.png">
      </a>
      <form class="mx-auto" method="GET" action="/">
        <div class="relative w-full">
            <input type="search" name="expression" id="search-dropdown" class="base-input" placeholder="..." required />
            <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-accent-500 rounded-e hover:bg-accent-700 dark:bg-accent-500 dark:hover:bg-accent-600">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">Search</span>
            </button>
        </div>
      </form>
    </div>
    <div class="flex lg:order-2 font-medium">
      <% if (!auth) { %>
      <a class="bg-main-500 hover:bg-main-400 dark:bg-main-700 hover:dark:bg-main-800 rounded-l text-center p-2" href="/login">Login</a>
      <a class="bg-accent-500 hover:bg-accent-600 rounded-r text-center p-2 dark:[text-shadow:_0px_0px_5px_rgb(0_0_0_/_70%)]" href="/register">Register</a>
      <% } else { %>
      <a class="bg-main-500 hover:bg-main-400 dark:bg-main-700 hover:dark:bg-main-800 rounded-l text-center p-2" href="/profil"><%- username %></a>
      <a class="bg-accent-500 hover:bg-accent-600 rounded-r text-center p-2 dark:[text-shadow:_0px_0px_5px_rgb(0_0_0_/_70%)]" href="/logout">Logout</a>
      <% } %>
      <button type="button"class="inline-flex lg:hidden items-center rounded dropdown p-2" id="header-dropdown-button" onclick="openDropDown('header-dropdown')">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
        </svg>
        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <div class="justify-between hidden items-center w-full lg:flex lg:w-auto lg:order-1 lg:mr-auto lg:ml-2 dropdown-content" id="header-dropdown">
      <ul class="flex flex-col divide-y lg:divide-none font-medium lg:flex-row">
        <li>
          <a class="block py-2 pr-4 pl-3 dark:hover:bg-main-800" href="/">Song</a>
        </li>
        <li>
          <a class="block py-2 pr-4 pl-3 dark:hover:bg-main-800" href="/community">Community</a>
        </li>
        <li>
          <a class="block py-2 pr-4 pl-3 dark:hover:bg-main-800" href="/daily">Daily Heardle</a>
        </li>
        <li>
          <a class="block py-2 pr-4 pl-3 dark:hover:bg-main-800" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
  <script>
    function openDropDown(menuid) {
      document.getElementById(menuid).classList.remove("hidden");
    }

    window.onclick = (e) => {
    }

    var lst = 0;
    var header = document.getElementById("sticky-header");
    var headerdropdown = document.getElementById("header-dropdown");

    window.onscroll = (e) => {
      var st = window.pageYOffset || document.documentElement
        .scrollTop;
      if (st > lst) {
        header.style.top = "-100px";
        headerdropdown.classList.add("hidden");
      } else if (st < lst) {
        header.style.top = "0px";
      }
      lst = st <= 0 ? 0 : st;
    }
  </script>
</header>