<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="/scripts/ostrankingapi.js"></script>
    <script src="/scripts/anilistapi.js"></script>
  </head>
  <body class="bg-main-50 dark:bg-main-950">
    <script src="/scripts/ejs.js"></script>
    <%- include('header') %>
    <%- include(page); %>
  </body>
</html>