<div class="grid grid-cols-ost-list items-center bg-main-800 hover:bg-lighter-main-800 transition transition-colors p-1 m-2 rounded">
    <img class="border-lg aspect-square object-cover w-20 rounded-lg p-1" src="<%- medium %>">
    <div>
        <h1 id="relation-show-name" class="text-xl font-medium text-black dark:text-white"><%- native %></h1>
        <h1 id="relation-show-alt-name"  class="text-xl font-medium text-main-300"><%- preferred %></h1>
    </div>
    <div>
        <h1 id="relation-show-type" class="text-xl font-medium text-black dark:text-white"><%- type %></h1>
    </div>
</div>