<div class="grid place-content-center h-screen">
    <div class="container base-container text-black dark:text-white">
        <h1 class="text-black dark:text-white text-medium font-bold leading-tight text-2xl">How to request a song ?</h1>
        <p>
            If you want to request a song to be added, fill the form at <a href="/Request">/Request</a>. You have to be loged in.<br>
            A minimum of one title, song URL, song Full Length and at least 1 relation is required to make a request.
        </p>
        <p>
            You also need a minimum trust value to be able to request a song. You can increase your trust value by doing various thing on the website<br>
            like contributing in the community tab by voting. This is to avoid bad song request spamming on the community tab.
        </p>
        <h1 class="text-black dark:text-white text-medium font-bold leading-tight text-2xl">How do I get the ID of a show on Anilist ?</h1>
        <p>
            When you are on a show page on Anilist, the ID is in the url. For example, with : <a href="https://anilist.co/anime/154587/Frieren-Beyond-Journeys-End/">https://anilist.co/anime/154587/Frieren-Beyond-Journeys-End/</a><br>
            the id would be 154587 right after /anime.
        </p>
        <h1 class="text-black dark:text-white text-medium font-bold leading-tight text-2xl">What links are supported for the song ?</h1>
        <p>
            For now only youtube links are supported. Soon, direct mp3 & mp4 links as well as soundcloud will be supported.
        </p>
    </div>
</div>