<div class="mt-12 flex flex-col items-center justify-center mx-auto lg:py-0 container">
    <table class="w-9/12 my-10">
        <thead>
            <tr>
                <th>Anime</th>
                <th>Song / Artist</th>
                <th>Relation</th>
                <th>Rating</th>
                <th>Ranking</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < 200; ++i) { %>
            <tr>
                <td>Deadman Wonderland</td>
                <td><span>Shiny Shiny</span><br><span>Nirgilis</span></td>
                <td>ED 1</td>
                <td>87.4</td>
                <td>#34</td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>