<table>
    <thead>
        <tr>
            <th>Anime</th>
            <th>Song / Artist</th>
            <th>Relation</th>
            <th>Rating</th>
            <th>Ranking</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Deadman Wonderland</td>
            <td><span>Shiny Shiny</span><br><span>Nirgilis</span></td>
            <td>ED 1</td>
            <td>87.4</td>
            <td>#34</td>
        </tr>
        <tr>
            <td>Tetsuwan Birdy Decode:02</td>
            <td><span>Kiseki</span><br><span>Nirgilis</span></td>
            <td>OP 2</td>
            <td>87.5</td>
            <td>#33</td>
        </tr>
    </tbody>
</table>