<div class="grid place-content-center h-screen">
    <form id="login-form" class="base-container" onsubmit="return false">
        <h1 class="text-black dark:text-white text-medium font-bold leading-tight text-2xl">Login</h1>
        <div id="form-notification" class="base-notification">
            MESSAGE
        </div>
        <div>
            <label for="username" class="base-label">Username </label>
            <input type="text" id="username" class="base-input" name="username" autocomplete="off" required>
        </div>
        <div>
            <label for="password" class="base-label">Password </label>
            <input type="password" id="password" class="base-input" name="password" autocomplete="off" required>
        </div>
        <button id="login-btn" class="base-btn mt-2">Login</button>
        <p class="text-black dark:text-white">Don't have an account? <a href="/register" class="text-blue-300 text-medium underline">Register here</a></p>
    </form>
</div>
<script>
    const loginbtn = document.getElementById("login-btn");

    const formnotif = document.getElementById("form-notification");
    
    loginbtn.addEventListener("click", () => {
        const data = new URLSearchParams();
        for (const [key, value] of new FormData(document.getElementById("login-form"), loginbtn)) {
            data.append(key, value);
        }

        fetch("/login", {
            method: "POST",
            body: data
        }).then((res) => {
            res.json().then((v)=>{
                formnotif.innerHTML = v.message;
            })

            if (res.status == 200) {
                formnotif.classList.remove("base-notification-wrong");
                formnotif.classList.add("base-notification-right");
                loginbtn.disabled = true;
                window.location.replace("/");
            } else {
                formnotif.classList.remove("base-notification-wrong");
                formnotif.classList.add("base-notification-wrong");
            }
        }).catch((err) => {
            console.log(err);
        })
    })
</script>