<div class="grid place-content-center h-screen">
    <form id="request-form" class="base-container" onsubmit="return false">
        <h1 class="text-black dark:text-white text-medium font-bold leading-tight text-2xl">Request OST</h1>
        <div id="form-notification" class="base-notification">
            MESSAGE
        </div>
        <div class="flex">
            <div class="mr-1 w-full">
                <label for="name" class="base-label">Music name</label>
                <input type="text" id="name" class="base-input" name="name" autocomplete="off">
            </div>
            <div class="ml-1 w-full">
                <label for="alternate-name" class="base-label">Music alternate name</label>
                <input type="text" id="alternate-name" class="base-input" name="alternate-name" autocomplete="off">
            </div>
        </div>
        <div>
            <label for="url" class="base-label outline-0">Music url</label>
            <input type="text" id="url" class="base-input" name="url" autocomplete="off">
        </div>
        <div class="flex">
            <div class="mr-1 w-full">
                <label for="length" class="base-label outline-0">Music full length</label>
                <input type="time" step="1" id="length" class="base-input" name="length" autocomplete="off">
            </div>
            <div class="ml-1 w-full">
                <label for="short-length" class="base-label outline-0">Music short length (optional)</label>
                <input type="time" step="1" id="short-length" class="base-input" name="short-length" autocomplete="off">
            </div>
        </div>
        <h2 class="text-black dark:text-white text-medium font-bold leading-tight text-2xl">Relation</h2>
        <div class="flex">
            <div class="mr-1">
                <label for="show-id" class="base-label outline-0">Show ID</label>
                <input type="number" id="show-id" class="base-input" name="show-id" autocomplete="off">
            </div>
            <div class="mx-1">
                <label for="type" class="base-label outline-0">Type</label>
                <select id="type" class="base-input" name="type" name="">
                    <option value="0">Opening</option>
                    <option value="1">Ending</option>
                    <option value="2">Insert</option>
                </select>
            </div>
            <div class="ml-1">
                <label for="number" class="base-label outline-0">Number</label>
                <input type="number" id="number" class="base-input" name="number" value="1" autocomplete="off">
            </div>
        </div>
        <button id="request-btn" class="base-btn">Request</button>
    </form>
</div>
<script>
    const requestbtn = document.getElementById("request-btn");
    
    const nameinput = document.getElementById("name");
    const altnameinput = document.getElementById("alternate-name");
    const urlinput = document.getElementById("url");
    const lengthinput = document.getElementById("length");
    const slengthinput = document.getElementById("short-length");

    const showidinput = document.getElementById("show-id");
    const typeinput =  document.getElementById("type");
    const numberinput = document.getElementById("number");

    const formnotif = document.getElementById("form-notification");

    requestbtn.addEventListener("click", () => {
        var l = lengthinput.value.split(':');
        l = parseInt(l[0]) * 3600 + parseInt(l[1]) * 60 + parseInt(l[2]);

        let data = {
            ost: {
                name: nameinput.value,
                url: urlinput.value,
                length: l
            },
            show_ost: [
                {show_id: showidinput.value, type: parseInt(typeinput.value), number: parseInt(numberinput.value)}
            ]
        };

        if (altnameinput.value)
            data.ost.alternate_name = altnameinput.value;
        if (slengthinput.value) {
            var sl = slengthinput.value.split(':');
            sl = parseInt(sl[0]) * 3600 + parseInt(sl[1]) * 60 + parseInt(sl[2]);
            data.ost.short_length = sl;
        }

        fetch("/api/ost/add", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json",
            },
        }).then((res) => {
            res.json().then((v)=>{
                formnotif.innerHTML = v.message;
            })

            if (res.status == 200) {
                formnotif.classList.remove("base-notification-wrong");
                formnotif.classList.add("base-notification-right");
            } else {
                formnotif.classList.remove("base-notification-right");
                formnotif.classList.add("base-notification-wrong");
            }
        }).catch((err) => {
            console.log(err);
        })
    })
</script>